@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url("BjAYBlHtW3CJxDcjzrnZCGfQcKutQXcIrRfyR5jdjY8.eot")/*tpa=https://fonts.gstatic.com/s/inconsolata/v16/BjAYBlHtW3CJxDcjzrnZCGfQcKutQXcIrRfyR5jdjY8.eot*/;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("nQhiC-wSiJx0pvEuJl8d8A.eot")/*tpa=https://fonts.gstatic.com/s/lato/v14/nQhiC-wSiJx0pvEuJl8d8A.eot*/;
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url("y7lebkjgREBJK96VQi37ZuVxPuP5V3WQ0I9CgXtSFxw.eot")/*tpa=https://fonts.gstatic.com/s/robotoslab/v7/y7lebkjgREBJK96VQi37ZuVxPuP5V3WQ0I9CgXtSFxw.eot*/;
}
